<div class="row exam-alternatives">
    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
        <button id="alternative_0" class="btn-transparent btn-alternative left"><img class="thumbnail img-responsive img-alternative" src="~/Content/img/q1a1.jpg" /></button>
    </div>
    <div class="col-xs-6 col-sm-5">
        <button id="alternative_1" class="btn-transparent btn-alternative right"><img class="thumbnail img-responsive img-alternative" src="~/Content/img/q1a2.jpg" /></button>
    </div>
</div>
