#u76
{
	position: relative;
}

#u75-46
{
	color: #353535;
	position: relative;
}

#u75-2,#u75-26
{
	font-size: 36px;
	line-height: 54px;
	font-weight: bold;
}

#u75-4,#u75-16,#u75-28,#u75-39
{
	line-height: 21px;
	font-weight: bold;
}

#u75-5,#u75-7,#u75-8,#u75-12,#u75-13,#u75-17,#u75-19,#u75-21,#u75-22,#u75-23,#u75-24,#u75-32,#u75-33,#u75-35,#u75-36,#u75-40,#u75-42,#u75-44
{
	font-size: 12px;
	line-height: 18px;
}

