@model IEnumerable<Portal.Web.Models.Department>

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/kendo/2013.1.514/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2013.1.514/kendo.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo/2013.1.514/jquery.min.js"></script>
<script src="~/Scripts/kendo/2013.1.514/kendo.web.min.js"></script>
<script src="/Scripts/kendo/2013.1.514/kendo.aspnetmvc.min.js"></script>
<script src="~/Scripts/kendo/2013.1.514/cultures/kendo.culture.nb-NO.min.js"></script>
<script src="/Scripts/kendo/2013.1.514/kendo.nb-NO.js"></script>
<script>
    kendo.culture("nb-NO");
</script>
<br />

<style type="text/css">
    body {
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
    }

    #placeholder {
        width: 375px;
        height: 225px;
    }

    .legend table, .legend > div {
        height: 82px !important;
        opacity: 1 !important;
        left: 270px;
        top: 10px;
        width: 116px !important;
    }

    .legend table {
        padding: 5px;
    }
</style>

<div class="container">
    <center>
        <form action="/admin/CreateDepartment" method="GET" style="display: inline">
            <input type="submit" value="Registrer ny avdeling" class="btn btn-default" />

            </form>

        <br/><p>
    @(Html.Kendo().Grid(Model) // Bind the grid to the Model property of the view
      .Name("Grid")
      .Columns(columns =>
      {

          columns.Bound(p => p.DepartmentName).Filterable(true).Sortable(true).Title("Avdeling");
      })
      .Sortable()
            .Scrollable()
            .Filterable()
            .HtmlAttributes(new { style = "height:300px;width:450px;" })

    )
</p>
</center>
    </div>

