html,body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    z-index: 100
}

#futerStub {
    height:30px;
}

#futter {
    margin-bottom: -90px;
    margin-top: -20px;
    z-index: -1
}

.sendMail {
    background: url(/Content/mailImg.png);
    width: 18px;
    height: 12px;
    cursor: pointer;
}

.sendMail:hover {
    box-shadow: 0 0 1px rgb(7, 7, 7) 
}

.logo {
    max-width: 180px;
    max-height: 80px;
}


.dropdown-menu > li > i > a {
color: darkgray
}

.reInvite{
    cursor: pointer;
    color: #71839b;
}


li.visible-xs a{
    color: black; font-size: 12px;
}

.mandatory {
color: #b94a48;
}

a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
}
