body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* CUSTOM */

footer {
    margin-top: 50px;
}

.row.row-nomargin {
    margin-left: 0px;
    margin-right: 0px;
}

.container.container-full {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-course {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 1px #888; 
}


.navbar-course .navbar-toggle {
    border-color: #ddd;
}
.navbar-course .navbar-toggle .icon-bar {
    background-color: #aaa;
}

/*.navbar-course li > a {
    color: darkgrey;
}

.course-nav li > a {
    color: white;
}

.course-nav li.active > a {
    color: #000;
}

.nav.navbar-right {
    margin-top: 25px;
}

.navbar-course .fa {
    font-size: 2em;
}

.nav > li > a:hover {
    background-color: transparent;
}
.navbar-course li > a:hover,
.navbar-course li > a:focus {
  text-decoration: none;
  color: #000;
}*/


.navbar-brand {
    padding: 1px 1px;
}

.course-nav-container {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.navbar-nav .glyphicon {
    font-size: 2em;
    color: darkgrey;
}

.logo-row {
    text-align: center;
}

footer img.veritech-logo {
    height: 50px;
}

footer img.granat-logo {
    height: 20px;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.course-module-thumb {
    position: relative;
    display: inline-block;
    box-shadow: 3px 3px 5px #888;
    margin-bottom: 25px;
}

.img-caption-overlay {
    position: absolute;
    bottom: 0px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    min-height: 30%;
    max-height: 50%;
    padding: 0.5em;
    overflow: hidden;
}


.btn-start-course {
    margin: 30px 0 30px;
}

.btn-black {
  color: #ffffff;
  background-color: #000000;
  border-color: #cccccc;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #ffffff;
  background-color: #d43d28;
  border-color: #da6225;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #000000;
  border-color: #cccccc;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.btn-transparent:focus{
    outline:none!important
}

.course-header {
    display: inline-block;
    position: relative;
    width: 100%;
    /*max-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;*/
}

.course-header .img-responsive {
    width: 100%;
}

.course-header button img {
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 8em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
}

.course-header button img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.course-header button.fa:hover {
    color: rgba(255,255,255,1.0);
}


.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 30px;*/
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border: 1px solid #fff;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videoModal .modal-header {
    min-height: 0px;
    padding: 0px;
    border: none;
}

#helpModal .modal-header {
    min-height: 0px;
    padding: 0px;
    border: none;
}

.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


#videoModal .modal-body {
    padding: 0px;
}

#helpModal .modal-body {
    padding: 0px;
}

.course-progress-bar, .exam-progress-bar {
    height: 30px;
    float: left;
}

.exam-progress-bar {
    width: 100%;
}

img.exam-icon {
    height: 41px;
    margin-top: -6px;
}

.course-progress-item, .exam-progress-item {
    float: left;
    background-color: #000;
    height: 100%;
    /*width: 4.6%;*/
    margin-right: 0.4%;
}

.course-progress-item.complete {
    background-color: #d43d28;
}

.course-progress-item.active {
    background-color: #6d6d6d;
}

.exam-progress-item.complete {
    background-color: #6d6d6d;
}

.popover {
    border-radius: 0;
}

.popover-content {
    padding: 0;
}

.dropdown-menu {
    text-align: left;
}

.background-container {
    /*border-bottom: 1px solid #000;*/
    box-shadow: inset 0 -10px 10px -10px #888;
}

.course-player-controls {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.push-from-top {
    margin-top: 50px;
}

.course-player-nav {
    margin-top: 25px;
    margin-bottom: 10px;
}

#player-prev:hover, #player-next:hover {
    color: #d43d28;
}

#questionModal .modal-header {
    border: 0;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}


#questionModal .modal-body {
    /*padding: 10px;*/
    display: inline-block;
    width: 100%;
}

#questionModal .modal-footer {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}


#questionModal .btn-alternative {
    width: 50%;
    position: relative;
}

#questionModal .thumbnail {
    margin: 0;
    width: 100%;
}

#questionModal .btn-alternative i {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 6em;
    display: inline-table;
    padding-left: 6px;
    margin-left: 6px;
}

#questionModal .btn-alternative .fa-check {
    color: #0f0;
}

#questionModal .btn-alternative .fa-times {
    color: #f00;
}

.btn-alternative.left {
    float: left;
}
.btn-alternative.right {
    float: right;
}

img-alternative {
    width: 100%;
}

#questionModal .response {
    clear: both;
    font-size: 5em;
    width: 100%;
    text-align: center;
   
}

#questionModal .response .fa-smile-o {
    color: #0f0;
}

#questionModal .response .fa-puzzle-piece {
    color: #000;
}


#questionModal .response .fa-frown-o {
    color: #f00;
}

#questionModal .response .fa-meh-o {
    color: #ddd;
}

#exam-block {
    margin: 50px 0 20px 0;
    background-color: #fff;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.5);
}

.exam-header {
    position: relative;
    top: -10px;
    background-color: #000;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.exam-header:before, 
.exam-header:after {
	content:" ";
	border-bottom:10px solid #000;
	position:absolute;
    top: 0px;
} 

.exam-header:before {
	border-left:10px solid transparent;
	left: -10px;
}

.exam-header:after {
	border-right:10px solid transparent;
	right: -10px;
}

.exam-content {
    padding: 0 12px 12px 12px;
    display: inline-block;
    width: 100%;
}

.exam-content img.exam-icon {
    position: absolute;
    top: 20px;
}

#exam-block .btn-alternative {
    width: 100%;
}

#exam-block .btn-alternative img {
    width: 100%;
}

.exam-requirements {
    text-align: center;
    color: #f00;
}




@media (max-width: 767px) {
    body {
        padding-top: 49px;
    }

    img.logo {
        max-height: 48px;
        min-height: 48px;
    }

    .course-progress-text.visible-xs {
        display: inline !important;
    }

    .push-from-top {
        margin-top: 10px;
    }

    .course-player-nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .course-player-controls {
        font-size: 15px;
        line-height: 25px;
    }
    .course-player-controls i {
        font-size: 25px;
        line-height: 25px;
    }

    #questionModal .btn-alternative {
        padding: 0;
    }

    #questionModal .modal-body {
        padding: 5px;
    }

    #questionModal .modal-footer {
        padding: 0px 5px 5px 5px;
    }

}

@media (min-width: 768px) {
    body {
        padding-top: 115px;
    }

    .navbar-course {
        height: 115px;
    }

    .navbar-brand {
        line-height: 115px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .course-nav {
        display: inline-block;
        float:none;

        /*background-color: darkgray;
        position: relative;
        top: 50px;*/

    }

    .course-nav a {
        color: #fff;
    }

    .course-nav-container {
        position: relative;
        top: 70px;

        background: #bebebe; /* Old browsers */
        background: -moz-linear-gradient(top,  #bebebe 0%, #bcbcbc 60%, #8b8b8b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(60%,#bcbcbc), color-stop(100%,#8b8b8b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #bebebe 0%,#bcbcbc 60%,#8b8b8b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #bebebe 0%,#bcbcbc 60%,#8b8b8b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #bebebe 0%,#bcbcbc 60%,#8b8b8b 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #bebebe 0%,#bcbcbc 60%,#8b8b8b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#8b8b8b',GradientType=0 ); /* IE6-9 */
    }

    .course-nav-container:before, 
    .course-nav-container:after {
	    content:" ";
	    border-top:10px solid #555;
	    position:absolute;
        bottom: 0px;
    } 

    .course-nav-container:before {
	    border-left:10px solid transparent;
	    left: -10px;
    }

    .course-nav-container:after {
	    border-right:10px solid transparent;
	    right: -10px;
    }

    .navbar-course li > a {
        color: darkgrey;
    }

    .course-nav li > a {
        color: white;
    }

    .course-nav li.active > a {
        color: #000;
    }

    .nav.navbar-right {
        margin-top: 25px;
    }

    .navbar-course .fa {
        font-size: 2em;
    }

    .dropdown-menu .fa {
        font-size: 1em;
    }

    .nav > li > a:hover {
        background-color: transparent;
    }
    .navbar-course li > a:hover,
    .navbar-course li > a:focus {
      text-decoration: none;
      color: #000;
    }

    #videoModal .modal-dialog {
        width: 75%;
        min-width: 750px;
        padding-top: 115px;
    }

      #helpModal .modal-dialog {
        width: 75%;
        min-width: 750px;
        padding-top: 115px;
    }

    #questionModal .modal-dialog {
        width: 1000px;
        padding-top: 100px;
    }

    #questionModal .btn-alternative i {
        font-size: 12em;
    }

    #questionModeal

    .exam-alternatives {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


